/* 
    Document   : simple.person.contact
    Created on : 23.06.2013, 06:34:34
    Author     : ralf
    Description:
        Purpose of the stylesheet follows.
*/

.clear {
  clear: both;
  width: 1px;
  height: 1px;
}
.address_form {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
.address_form label {
  clear: both;
  float: left;
  width: 100px;
  text-align: right;
  margin: 0 0 10px 0;
  padding: 3px 5px 0 0;
}
label[for=form_password_first] {
  display: none;
}
.address_form label.required:after {
  content: '*';
  color: #da251d;
  background-color: transparent;
  font-weight: bold;
}
.address_form select,
.address_form input {
  float: left;
  width: 150px;
  margin: 0 0 10px 0;
}
#form_gender {
  float: left;
  width: 250px;
}
#form_gender input {
  clear: left;
  float:left;
  width: 15px;
  margin: 5px 10px 0 0;
  padding: 0;
}
#form_gender label {
  clear: none;
  float: left;
  width: 50px;
  text-align: left;
}
#form_gender label.required:after {
  content: none;
}
input#form_zip {
  width: 40px;
}
input#form_city {
  width: 100px;
  margin: 0 0 10px 5px;
}
.address_form input[type=submit] {
  width: 150px;
}
select#form_birthday_day,
select#form_birthday_month {
  width: 40px;
}
select#form_birthday_year {
  width: 60px;
}
